In [30]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score,mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from word2number import w2n

In [31]:
data=pd.read_csv('heart.csv')
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [32]:
data.shape

(303, 14)

In [33]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [34]:
data.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [35]:
x=data.drop(['target'],axis=1)
y=data['target']

In [36]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.25,random_state=30)

In [37]:
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)
x_train

array([[-2.06162524,  0.6815542 , -0.89388705, ..., -0.6829409 ,
        -0.69914807,  1.12442837],
       [ 0.52812212,  0.6815542 ,  2.04687179, ..., -0.6829409 ,
        -0.69914807,  1.12442837],
       [-0.22722086,  0.6815542 , -0.89388705, ...,  0.9489284 ,
         0.34497438,  1.12442837],
       ...,
       [-0.335127  , -1.46723474,  1.06661884, ...,  0.9489284 ,
        -0.69914807, -0.51175906],
       [ 0.31230984,  0.6815542 , -0.89388705, ..., -0.6829409 ,
         0.34497438,  1.12442837],
       [ 1.39137124,  0.6815542 ,  1.06661884, ..., -0.6829409 ,
        -0.69914807,  1.12442837]])

In [43]:
svm.predict([[1,2,3,4,5,6,7,8,9,70,3,7,13]])

array([0], dtype=int64)

In [38]:
svm=SVC(kernel='linear')
svm.fit(x_train,y_train)
svm.score(x_test,y_test)

0.8552631578947368

In [39]:
svm1=SVC(kernel='poly',degree=3,C=5,gamma='auto')
svm1.fit(x_train,y_train)
svm1.score(x_test,y_test)

0.75

In [40]:
svm2=SVC(kernel='sigmoid')
svm2.fit(x_train,y_train)
svm2.score(x_test,y_test)

0.8421052631578947

In [41]:
svm3=SVC(kernel='rbf')
svm3.fit(x_train,y_train)
svm3.score(x_test,y_test)

0.8157894736842105